.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#isiqfor { border: 2px solid black; padding: 10px; width: 50px; }
#isiqfor > div {
    width:50px; height: 50px; margin: 5px 0; opacity: 0.1;
    border: 1px solid #333; border-radius: 50%; 
}
.green { background-color: green; }
.yellow { background-color: yellow; }
.red { background-color: red; }
#isiqfor > div.on { opacity: 1; transition: opacity 200ms linear; }

